* {
    font-family: 'Open Sans', sans-serif;
}

header h1{
    font-family: 'Abril Fatface', cursive;
    text-decoration: none;
    padding: 5px
}

.card-body {
    background-color: #f8f9fa;
}

.card {
    margin: 10px 0px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.jumbotron {
/*
    background-image: url("../img/mountain-pink.jpg");
*/
}